<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

  <!--
    This is the recommended settings.xml for development of Pentaho projects.
    Off-site community or cloud based builds might want to try running the "central" profile (`-Dcentral`)
    to resolve maven plugin dependencies and transitves of maven plugins through the maven central repository
    instead of the Pentaho repository. This might speed up builds, but is not guaranteed to work for all projects.
    You should copy this file to your ~/.m2 directory and save it as settings.xml
  -->

  <mirrors>
    <mirror>
      <id>pentaho.resolve.repo</id>
      <url>https://repo.orl.eng.hitachivantara.com/artifactory/pnt-mvn</url>
      <mirrorOf>!plugins,*</mirrorOf>
    </mirror>
  </mirrors>

  <profiles>
    <profile>
      <id>pentaho</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>pentaho.resolve.repo</id>
          <name>Pentaho Omni</name>
          <url>https://repo.orl.eng.hitachivantara.com/artifactory/pnt-mvn</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>plugins</id>
          <name>Maven Central</name>
          <url>https://repo.orl.eng.hitachivantara.com/artifactory/pnt-mvn</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>daily</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
      <properties>
        <maven.test.failure.ignore>false</maven.test.failure.ignore>
      </properties>
    </profile>
    <profile>
      <id>central</id>
      <activation>
        <activeByDefault>false</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>pentaho.resolve.repo</id>
          <name>Pentaho Omni</name>
          <url>https://repo.orl.eng.hitachivantara.com/artifactory/pnt-mvn</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>plugins</id>
          <name>Maven Central</name>
          <url>http://repo1.maven.org/maven2</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>daily</updatePolicy>
          </releases>
          <snapshots>
            <enabled>true</enabled>
            <updatePolicy>always</updatePolicy>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

</settings>
