out/
bin/
dist/
js-lib/
lib/
libswt/
test-lib/
dev-lib/
cobertura/
checkstyle/
eclipse-bin/
override.properties
testdata.log
testdata.properties
testdata.script
.idea/
.classpath
.project
projects/
build-res/dojo-*
build-res/module-scripts/
*.class
*.jar
*.war
*.ear
*.iml
*.ipr
/.idea/
/*.launch
package-pom.xml
.DS_Store
target
