<br/>
<table>
  <tr>
    <td>***</td>
    <td>Generated on $creationDate. Questions? Follow up in <a href="https://hitachivantara-eng.slack.com/archives/C5GD5AWAH" target="_new">#pentaho-build-help</a></td>
    <td>***</td>
  </tr>
</table>
</body>