bin/
dist/
js-lib/
test-lib/
eclipse-bin/
override.properties
testdata.log
testdata.properties
testdata.script
.classpath
.project
.DS_Store
projects/
build-res/dojo-*
build-res/module-scripts/
*.class
*.jar
*.war
*.ear
*.iml
.idea
.settings
