<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="DummyJob"
   iconfile="DPL.png"
   description="Dummy Job Entry"
   tooltip="This is a dummy plugin test job entry"
   category="General"
   classname="pdi.jobentry.dummy.JobEntryDummy">
   <libraries>
    <library name="dummyjob.jar"/>
    </libraries>
    
   <localized_category>
     <category locale="en_US">General</category>
     <category locale="nl_NL">Algemeen</category>
   </localized_category>
   <localized_description>
     <description locale="en_US">Dummy plugin</description>
     <description locale="nl_NL">Dummy plugin</description>
   </localized_description>
   <localized_tooltip>
     <tooltip locale="en_US">This is a dummy plugin test step</tooltip>
     <tooltip locale="nl_NL">Dit is een voorbeeld plugin ook wel 'dummy plugin' geheten</tooltip>
   </localized_tooltip>
   
</plugin>
