<?xml version="1.0" encoding="ISO-8859-1"?>
<plugin
   id="DummyJob"
   iconfile="DPL.png"
   description="Dummy Job Entry"
   tooltip="This is a dummy plugin test job entry"
   category="General"
   classname="pdi.jobentry.dummy.JobEntryDummy">
   <libraries>
    <library name="dummyjob.jar"/>
    </libraries>
    
   <localized_category>
     <category locale="en_US">General</category>
     <category locale="nl_NL">Algemeen</category>
     <category locale="fr_FR">Général</category>
   </localized_category>
   <localized_description>
     <description locale="en_US">Example plugin</description>
   </localized_description>
   <localized_tooltip>
     <tooltip locale="en_US">This is an example test job entry for a plugin</tooltip>
   </localized_tooltip>
   
</plugin>
