#foreach ( $library in $libraries )
library(identifier: '$library', changelog: false)
#end

#set( $runCheckout = $properties.getBool('RUN_STAGE_CHECKOUT') )
#set( $runBuild = $properties.getBool('RUN_STAGE_BUILD') )
#set( $runTest = $properties.getBool('RUN_STAGE_TEST') && $item.testable )
#set( $runArchive = $properties.getBool('RUN_STAGE_ARCHIVE') && $item.archivable )
##
Map defaultParams = [
  SLAVE_NODE_LABEL    : '$properties.getString('SLAVE_NODE_LABEL')',
  WORKSPACE           : '$properties.getString('WORKSPACE')',
  BUILD_DATA_ROOT_PATH: '$properties.getString('BUILD_DATA_ROOT_PATH')',
  BUILD_DATA_FILE     : '$properties.getString('BUILD_DATA_FILE')',

  RUN_STAGE_CHECKOUT  : $runCheckout,
  RUN_STAGE_BUILD     : $runBuild,
  RUN_STAGE_TEST      : $runTest,
  RUN_STAGE_ARCHIVE   : $runArchive,

  OVERRIDE_PARAMS     : [:],
  OVERRIDE_JOB_PARAMS : [:]
]

node(params.SLAVE_NODE_LABEL ?: defaultParams.SLAVE_NODE_LABEL) {
  timestamps {
    stages.configure(defaultParams)

    timeout(config.get().timeout) {
      stages.checkout()
      stages.build()
      stages.test()
      stages.archive()
    }
  }
}