#foreach ( $library in $libraries )
library(identifier: '$library', changelog: false)
#end

Map defaultParams = [
  SLAVE_NODE_LABEL    : '$properties.getString('SLAVE_NODE_LABEL')',
  WORKSPACE           : '$properties.getString('WORKSPACE')',
  BUILD_DATA_ROOT_PATH: '$properties.getString('BUILD_DATA_ROOT_PATH')',
  BUILD_DATA_FILE     : '$properties.getString('BUILD_DATA_FILE')',
  RUN_CHECKOUTS       : $properties.getBool('RUN_CHECKOUTS'),
  RUN_BUILDS          : $properties.getBool('RUN_BUILDS') ,
  RUN_UNIT_TESTS      : $properties.getBool('RUN_UNIT_TESTS'),
  ARCHIVE_ARTIFACTS   : $properties.getBool('ARCHIVE_ARTIFACTS'),
  OVERRIDE_PARAMS     : [:],
  OVERRIDE_JOB_PARAMS : [:]
]

node(params.SLAVE_NODE_LABEL ?: defaultParams.SLAVE_NODE_LABEL) {
  timestamps {
    config.stage(defaultParams)

    timeout(config.get().timeout) {
      checkoutStage()
      buildStage2()
    }
  }
}