<%
libraries.each { library ->
  println "library(identifier: '$library', changelog: false)"
}

runCheckout = properties.getBool('RUN_STAGE_CHECKOUT')
runBuild = properties.getBool('RUN_STAGE_BUILD')
runTest = properties.getBool('RUN_STAGE_TEST') && item.testable
runArchive = properties.getBool('RUN_STAGE_ARCHIVE') && item.archivable
%>
Map defaultParams = [
  SLAVE_NODE_LABEL    : '$properties.SLAVE_NODE_LABEL',
  WORKSPACE           : '$properties.WORKSPACE',
  BUILD_DATA_ROOT_PATH: '$properties.BUILD_DATA_ROOT_PATH',
  BUILD_DATA_FILE     : '$properties.BUILD_DATA_FILE',

  RUN_STAGE_CHECKOUT  : $runCheckout,
  RUN_STAGE_BUILD     : $runBuild,
  RUN_STAGE_TEST      : $runTest,
  RUN_STAGE_ARCHIVE   : $runArchive,

  OVERRIDE_PARAMS     : [:],
  OVERRIDE_JOB_PARAMS : [:]
]

node(params.SLAVE_NODE_LABEL ?: defaultParams.SLAVE_NODE_LABEL) {
  timestamps {
    stages.configure(defaultParams)

    timeout(config.get().timeout) {
      stages.checkout()
      stages.build()
      stages.test()
      stages.archive()
    }
  }
}
