<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="ProSAPCONN"
   iconfile="ProSAPCONN.png"
   description="ProSAPCONN - PRORATIO SAP Connector"
   errorhelpfile="ClassLoadError.html"
   tooltip="This step allows you to retrieve data from an SAP system"
   category="Input"
   classname="de.proratio.sapconn.kettle.SapconnMeta">
   <libraries>
    <library name="ProSAPCONN.jar"/>
    <library name="ProSAPCONN-Kettle.jar"/>
    <library name="sapjco.jar"/>
    </libraries>
    
   <localized_category>
     <category locale="en_US">Input</category>
     <category locale="nl_NL">Input</category>
     <category locale="fr_FR">Entrée</category>
   </localized_category>
   <localized_description>
     <description locale="en_US">ProSAPCONN - PRORATIO SAP Connector</description>
     <description locale="nl_NL">ProSAPCONN - PRORATIO SAP Connector</description>
     <description locale="fr_FR">ProSAPCONN - PRORATIO Connecteur SAP</description>
   </localized_description>
   <localized_tooltip>
     <tooltip locale="en_US">This step allows you to retrieve data from an SAP system</tooltip>
     <tooltip locale="nl_NL">Deze stap laat U toe om gegevens uit SAP te betrekken</tooltip>
     <tooltip locale="fr_FR">This step allows you to retrieve data from an SAP system</tooltip>
   </localized_tooltip>
    
</plugin>
