<?xml version="1.0" encoding="UTF-8"?>
<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j2 Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->

<!--
   | For more configuration information and examples see the Apache Log4j
   | website: https://logging.apache.org/log4j/2.x/manual/configuration.html
 -->

<Configuration name="PentahoKettle" status="ERROR" dest="out">

    <Appenders>
        <!-- ================== -->
        <!-- Log4JDBC Appenders -->
        <!-- ================== -->
        <!--
        <File name="sql-appender" fileName="logs/log4jdbc-sql.log" append="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} &lt;%t&gt; %m%n%n</Pattern>
            </PatternLayout>
        </File>

        <File name="sql-timing-appender" fileName="logs/log4jdbc-sqltiming.log" append="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %m%n%n</Pattern>
            </PatternLayout>
        </File>

        <File name="jdbc-appender" fileName="logs/log4jdbc-jdbc.log" append="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %m%n</Pattern>
            </PatternLayout>
        </File>

        <File name="connection-appender" fileName="logs/log4jdbc-connection.log" append="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %m%n</Pattern>
            </PatternLayout>
        </File>
        -->
        <!-- ============================== -->
        <!-- Append messages to the console -->
        <!-- ============================== -->
        <Console name="PENTAHOCONSOLE">
            <ThresholdFilter level="INFO"/>
            <PatternLayout>
                <Pattern>%d{ABSOLUTE} %-5p [%c{1}] %m%n</Pattern>
            </PatternLayout>
        </Console>

        <RollingFile name="pdi-execution-appender" fileName="logs/pdi.log" filePattern="logs/pdi.%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p &lt;%t&gt; %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy/>
        </RollingFile>
    </Appenders>

    <!-- ================ -->
    <!-- Limit categories -->
    <!-- ================ -->
    <Loggers>

        <!--<Logger name="org.pentaho" level="ERROR"/>-->

        <Logger name="org.apache.hadoop.io.retry" level="INFO"/>
        <Logger name="org.apache.sqoop" level="INFO"/>
        <Logger name="org.apache.hadoop" level="INFO"/>

        <Logger name="org.pentaho.platform.osgi" level="INFO"/>

        <Logger name="org.pentaho.platform.engine.core.system.status" level="INFO"/>

        <Logger name="com.pentaho.yarn" level="INFO"/>

        <Logger name="com.pentaho.big.data.bundles" level="INFO"/>

        <Logger name="com.pentaho.big.data.ee" level="INFO"/>

        <Logger name="org.pentaho.di.trans.Trans" level="INFO" additivity="false">
            <appender-ref ref="pdi-execution-appender"/>
        </Logger>

        <Logger name="org.pentaho.di.job.Job" level="INFO" additivity="false">
            <appender-ref ref="pdi-execution-appender"/>
        </Logger>

        <Logger name="org.pentaho.hadoop.shim.DriverManager" level="INFO"/>

        <!-- ======================= -->
        <!-- Setup the Root category -->
        <!-- ======================= -->

        <Root level="ERROR">
            <appender-ref ref="PENTAHOCONSOLE"/>
        </Root>
        <!-- ================ -->
        <!-- Log4JDBC Loggers -->
        <!-- ================ -->
        <!--
        <Logger name="jdbc.sqlonly" additivity="false" level="INFO">
         <appender-ref ref="sql-appender"/>
        </Logger>

        <Logger name="jdbc.sqltiming" additivity="false" level="INFO">
           <appender-ref ref="sql-timing-appender"/>
        </Logger>

        <Logger name="jdbc.audit" additivity="false" level="INFO">
           <appender-ref ref="jdbc-appender"/>
        </Logger>

        <Logger name="jdbc.resultset" additivity="false" level="INFO">
           <appender-ref ref="jdbc-appender"/>
        </Logger>

        <Logger name="jdbc.connection" additivity="false" level="INFO">
           <appender-ref ref="connection-appender"/>
        </Logger>
        -->
    </Loggers>
</Configuration>
