<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

  <!--
    - Location of the XML file that defines the root application context
    - Applied by ContextLoaderListener.
    -->
  <!-- Uncomment the followings to enable login page for webSpoon
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      /WEB-INF/spring/*.xml
    </param-value>
  </context-param>

  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  -->
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>

  <context-param>
    <param-name>org.eclipse.rap.applicationConfiguration</param-name>
    <param-value>org.pentaho.di.ui.spoon.WebSpoon</param-value>
  </context-param>

  <listener>
    <listener-class>org.pentaho.di.ui.spoon.WebSpoonServletContextListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>Spoon</servlet-name>
    <servlet-class>org.eclipse.rap.rwt.engine.RWTServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Spoon</servlet-name>
    <url-pattern>/spoon</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>welcome</servlet-name>
    <jsp-file>/docs/English/welcome/index.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>welcome</servlet-name>
    <url-pattern>/docs/English/welcome/index.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Carte</servlet-name>
    <servlet-class>org.pentaho.di.www.CarteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Carte</servlet-name>
    <url-pattern>/kettle/*</url-pattern>
  </servlet-mapping>

  <!-- A reverse proxy for the repository plugin -->
  <servlet>
    <servlet-name>reverseProxy</servlet-name>
    <servlet-class>org.pentaho.di.ui.spoon.WebSpoonProxyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reverseProxy</servlet-name>
    <url-pattern>/osgi/*</url-pattern>
  </servlet-mapping>
</web-app>
