<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="DummyPlugin"
   iconfile="DPL.png"
   description="Dummy Plugin"
   tooltip="This is a dummy plugin test step"
   category="Transform"
   classname="be.ibridge.kettle.dummy.DummyPluginMeta">
   <libraries>
    <library name="dummy.jar"/>
    </libraries>
    
   <localized_category>
     <category locale="en_US">Transform</category>
     <category locale="nl_NL">Transform</category>
     <category locale="fr_FR">Transformation</category>
     <category locale="zh_CN">转换</category>
   </localized_category>
   <localized_description>
     <description locale="en_US">Example plugin</description>
   </localized_description>
   <localized_tooltip>
     <tooltip locale="en_US">This is an example for a plugin test step</tooltip>
   </localized_tooltip>
   
</plugin>
