<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

   <appender name="PENTAHOCONSOLE" class="org.apache.log4j.ConsoleAppender">
      <param name="Target" value="System.out"/>

      <layout class="org.apache.log4j.PatternLayout">
         <!-- The default pattern: Date Priority [Category] Message\n -->
         <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
      </layout>
   </appender>

   <root>
      <priority value="INFO" />
      <appender-ref ref="PENTAHOCONSOLE"/>
   </root>
   
   
</log4j:configuration>