<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="ShapeFileReader"
   iconfile="SFR.png"
   description="ESRI Shapefile Reader"
   tooltip="Reads shape file data from an ESRI shape file and linked DBF file"
   category="Input"
   classname="org.pentaho.di.shapefilereader.ShapeFileReaderMeta">
   <libraries>
    <library name="shapefilereader3.jar"/>
    </libraries>
</plugin>
