<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->

<!-- $Id: log4j.xml,v 1.1.2.4 2005/10/06 23:05:58 bill Exp $ -->

<!--
   | For more configuration infromation and examples see the Jakarta Log4j
   | owebsite: http://jakarta.apache.org/log4j
 -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
   
   <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
      <param name="Target" value="System.out"/>
      <param name="Threshold" value="INFO"/>

      <layout class="org.apache.log4j.PatternLayout">
         <!-- The default pattern: Date Priority [Category] Messagen -->
         <!--
         <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
         -->
         <!--
         NOTE: %F:%M:%L (File:Method:Line) is useless because of the way Kettle logs messages.
         They always show up as coming from the LogWriter class.  Also, it is expensive to
         generate the location information (although since there is only ever one location
         I imagine it gets cached and reused throughout the life of the application). 
         <param name="ConversionPattern" value="%-5p %d{dd-MM HH:mm:ss,SSS} (%F:%M:%L)  -%m%n"/>
         -->
         <param name="ConversionPattern" value="%-5p %d{dd-MM HH:mm:ss,SSS} - %m%n"/>
      </layout>
   </appender>
   
   <category name="org.pentaho">
      <priority value="DEBUG"/>
   </category>
   
   <category name="com.healthmarketscience.jackcess">
      <priority value="WARN"/>
   </category>
   
   <category name="org.apache.commons.httpclient">
       <priority value="WARN"/>
   </category>
   
   <category name="org.mortbay">
      <priority value="ERR"/>
   </category>

   <category name="java.net">
      <priority value="NONE"/>
   </category>
   
   <category name="org.apache.commons.logging.simplelog.log.org.apache.commons.httpclient">
      <priority value="WARN"/>
   </category>

   <category name="org.apache.commons.logging.simplelog.log.org.apache.commons.httpclient.auth">
      <priority value="WARN"/>
   </category>

   <root>
      <priority value="INFO"/>
      <appender-ref ref="CONSOLE"/>
   </root>

</log4j:configuration>
