<?xml version="1.0" encoding="UTF-8"?>
<blueprint xmlns="http://www.osgi.org/xmlns/blueprint/v1.0.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:pen="http://www.pentaho.com/xml/schemas/pentaho-blueprint"
           xsi:schemaLocation="
            http://www.osgi.org/xmlns/blueprint/v1.0.0 http://www.osgi.org/xmlns/blueprint/v1.0.0/blueprint.xsd
            http://www.pentaho.com/xml/schemas/pentaho-blueprint http://www.pentaho.com/xml/schemas/pentaho-blueprint.xsd">

  <bean scope="prototype"
        class="org.pentaho.di.engine.kettleclassic.ClassicKettleEngine">
    <pen:di-plugin type="org.pentaho.di.core.plugins.EnginePluginType"/>
  </bean>

  <reference-list interface="org.pentaho.di.engine.api.ExecutionResult">
    <reference-listener bind-method="requestAdded" unbind-method="requestRemoved">
      <bean class="org.pentaho.di.engine.kettleclassic.RequestListener"/>
    </reference-listener>
  </reference-list>
</blueprint>