<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="ShapeFileReader"
   iconfile="ESRI.svg"
   description="ESRI Shapefile Reader"
   tooltip="Reads shape file data from an ESRI shape file and linked DBF file"
   category="Input"
   classname="org.pentaho.di.shapefilereader.ShapeFileReaderMeta">
   <libraries>
    <library name="shapefilereader3.jar"/>
    </libraries>
    <localized_category>
     <category locale="ja_JP">入力</category>
   </localized_category>
   <localized_description>
     <description locale="ja_JP">ESRIシェープファイルリーダー</description>
   </localized_description>
   <localized_tooltip>
     <tooltip locale="ja_JP">ESRIシェープファイルとリンク付きのDBFファイルからシェープファイルデータを読み込みます</tooltip>
   </localized_tooltip>
</plugin>
